.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
  max-width: 400px;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  &:hover{
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4);

  }
  .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: #000;
  }
  .form-group{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    label {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }


    input {
      display: block;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 5px #ccc;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
  .btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .btn-primary {
    background-color: #00a0ff;
    color: #fff;
  }
}
