<div class="toast"
[ngClass]="{
  'show': toast,
  'hide': !toast,
  'toast-success': toast?.type === 'success',
  'toast-error': toast?.type === 'error',
  'toast-info': toast?.type === 'info',
  'toast-warning': toast?.type === 'warning'
}">
    <div *ngIf="toast" class="toast-content">
        <p class="toast-message">
          {{toast.message}}
        </p>
        <button class="toast-close" (click)="closeToast()">
          <i class="fas fa-times"></i>
        </button>
    </div>
</div>
