<section class="dashboard">
  <header class="dashboard__header">
    <div class="dashboard__header__title">
     <h4>
      Welcome, {{user?.username}}
    </h4>
      <button title="Add a product" class="dashboard__header__button" (click)="showAddProductModal()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <p class="dashboard__header__subtitle">
      Dashboard
    </p>
  </header>
  <hr class="divider" />
  <app-product-list *ngIf="products.length > 0; else noProducts" [products]="products"></app-product-list>
  <hr class="divider" />
  <ng-template #noProducts>
    <p class="dashboard__no-products">
      You have no products.
    </p>
  </ng-template>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</section>
<app-modal (onDismiss)="hideAddProductModal()" *ngIf="shouldShowAddProductModal">
  <app-product-form (onDone)="hideAddProductModal()"></app-product-form>
</app-modal>
